
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #FFFFFF;
    text-align: center;
}

header {
    background-color: #353535;
    font-family: cursive;
    color: #fff;
    padding: 0.1rem;
}

header h2 {
    margin: 1;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background: #353535;
    color:#FFFFFF;
    padding: 0.3rem;
    bottom: 0;
    width: 100%;
  
}

a {
            color: #2F2F2F;
            text-decoration: none;
}
a:href{

color :red ;
    
}
