
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:#D4D4D4 ;
    color: #000000;
    text-align: center;
}

header {
    background-color: #353535;
    font-family: cursive;
    color: #fff;
    padding: 0.1rem;
}

header h2 {
    font-family: cursive;
    margin: 1;
}

main {
    padding: 2rem;
}

section {
    text-align: center ;
    margin-bottom: 2rem;
    padding: 1rem;
    background: #B8B8B8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    font-family: fantasy;
    background: #353535;
    color:#FFFFFF;
    padding: 1rem;
    bottom: 0;
    
    
}
h4{
  
  .center{
  text-align: center ;
}
  
  
}

a {
            color: #00500B;
            text-decoration: none;
            
            
}
h3{

    font-family: cursive;
    
    
}
#icon{
    align-items:center;
    gap:50px;
}
